---
import Layout from "@layouts/Layout.astro";

import { Navbar } from "@components/Navbar";
import { Image } from "@astrojs/image/components";

import scioImage from "@assets/kir-transparent.png";
---

<Layout
    title="Pojok Sekolah Kelompok Ilmiah Remaja SMA Negeri 12 Bekasi"
    description="Something"
>
    <Navbar
        lists={[
            { name: "Blog", href: "/blog" },
            { name: "Pojok Sekolah", href: "/skola" },
        ]}
        client:idle
    >
        <Image
            class="ml-[2px]"
            width={32}
            height={32}
            src={scioImage}
            format={"webp"}
            alt="Gambar logo scio 12"
        />
    </Navbar>

    <main>
        <section class="h-screen">
            <div
                class="pt-20 px-6 lg:px-10 grid grid-cols-1 md:grid-cols-2 gap-5"
            >
                <div
                    class="rounded-lg border flex flex-col gap-3 md:gap-5 items-center p-5"
                >
                    <h3 class="font-poppins text-xl md:text-2xl font-semibold">
                        Jadwal Pelajaran
                    </h3>
                    <p class="text-lg md:text-xl text-center font-lato">
                        Cek jadwal pelajaran kelas kamu disini yaa...
                    </p>
                    <a
                        href="/skola/schedule"
                        class="bg-green-600 w-full text-center text-gray-50 font-lato hover:text-gray-200 p-2 rounded-lg border"
                        >List Kelas</a
                    >
                </div>
                <div
                    class="rounded-lg border flex flex-col justify-center items-center p-5"
                >
                    <h3 class="text-3xl">🚧</h3>
                </div>
            </div>
        </section>
    </main>
</Layout>
