@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-lato: "Lato", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-play: "Play", sans-serif;
}

body {
  @apply bg-stone-50/15;
}
