---
import "@fontsource/play";
import "@fontsource/lato";
import "@fontsource/poppins";

import { Image } from "@astrojs/image/components";
import { Navbar } from "@components/Navbar";

import Layout from "@layouts/Layout.astro";

import PenjelasanLogo from "@assets/penjelasan-logo.png";
import scioImage from "@assets/kir-transparent.png";

import logoOlim from "@assets/logo-olim.png";
import logoTeknik from "@assets/logo-teknik.png";
import logoKti from "@assets/logo-kti.png";

const allCard = [
  {
    heading: "Olimpiade",
    image: logoOlim,
  },
  {
    heading: "Teknik",
    image: logoTeknik,
  },
  {
    heading: "Karya Tulis Ilmiah",
    image: logoKti,
  },
];
---

<Layout title="Kelompok Ilmiah Remaja SMA Negeri 12 Bekasi">
  <Navbar client:idle>
    <Image
      class="ml-[2px]"
      width={32}
      height={32}
      src={scioImage}
      alt="Gambar logo scio 12"
    />
  </Navbar>

  <main class="dark:bg-neutral-950">
    <section
      class="flex h-screen justify-left items-center sm:p-16 p-10 bg-neutral-900"
    >
      <div class="flex gap-5 flex-col">
        <h1
          class="text-gray-50 font-bold text-3xl md:text-4xl lg:text-5xl font-lato"
        >
          Bersatu kita berkreasi,
        </h1>
        <h3
          class="text-gray-50 font-bold text-3xl md:text-4xl lg:text-5xl font-poppins"
        >
          Berprestasi kita <u>berambisi.</u>
        </h3>
      </div>
    </section>

    <section
      id="siapa-kami"
      class="m-auto min-h-[160vh] px-6 pt-24 sm:px-14 sm:pt-28 md:px-16"
    >
      <h1
        class="font-bold dark:text-gray-50 font-poppins text-3xl sm:text-3xl md:text-4xl lg:text-5xl mb-8"
      >
        Siapa Kami?
      </h1>
      <div
        class="font-light font-lato flex flex-wrap gap-10 text-xl md:flex-nowrap md:gap-18 lg:gap-12 lg:text-2xl"
      >
        <p>
          KIR adalah singkatan dari Kelompok Ilmiah Remaja, ekstrakurikuler ini
          bertujuan untuk mengembangkan bakat dan minat siswa khususnya dalam
          bidang ilmiah dan mengikuti kompetisi atau perlombaan. Latar belakang
          terbentuknya ekstrakurikuler ini karena belum ada organisasi yang
          fokus dibidang akademik atau keilmiahan.
        </p>
        <p>
          Tanggal dibentuk ekstrakurikuler KIR ini pada tanggal 16 Juli 2016,
          diresmikan pada 21 Juli 2016. SCIO 12 diambil dari bahasa latin{" "}
          <i>SCIO</i> yang memiliki arti <i>Aku Tahu</i>. Empat lingkaran
          sebagai pengganti huruf "O" dengan masing-masing warna kuning, biru,
          merah, dan hijau melambangkan setiap bidang studi.
        </p>
      </div>
      <div class="w-full flex justify-center mt-4">
        <Image
          src={PenjelasanLogo}
          class="penjelasan-image"
          alt="Gambar yang berisi penjelasan makna dari warna logo ekstrakurikuler KIR."
          aspectRatio="16:9"
          width={920}
        />
      </div>
    </section>
  </main>
</Layout>
